# Override Digilent's RUN action for their JTAG controllers.
# This leaves the TTY node present, which shouldn't be used directly but is
# used by the other VLAB udev rules to detect when a board is unplugged.
ACTION=="add", ATTR{idVendor}=="0403", ATTR{manufacturer}=="Digilent", RUN:=""
