# Create symlinks for USB device, with 0666 permissions
ACTION=="add", ATTR{idVendor}=="0403", ATTR{manufacturer}=="Digilent", SYMLINK+="vlab/%s{serial}/dev", MODE="0666"

# Start board server - this will only succeed once as it requires both symlinks to be present first
ACTION=="add", ATTR{idVendor}=="0403", ATTR{manufacturer}=="Digilent", RUN+="/bin/sh -c '/usr/bin/python3 /opt/VLAB/boardconnected.py %s{serial} localhost >> /opt/VLAB/log/attachdetach.log 2>&1'"

# Fire when Digilent USB device is removed, but not when a tty (note ENV rather than ATTR)
ACTION=="remove", ENV{ID_VENDOR_ID}=="0403", ENV{ID_VENDOR}=="Digilent", SUBSYSTEM!="tty" RUN+="/bin/sh -c '/usr/bin/python3 /opt/VLAB/boarddetached.py $env{ID_SERIAL_SHORT} localhost >> /opt/VLAB/log/attachdetach.log 2>&1'"

