# This file is just for the tty part of the dual USB connection, the JTAG is handled by 80-digilent-jtag.rules

# Create symlinks for tty, with 0666 permissions
ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{manufacturer}=="Digilent", SUBSYSTEM=="tty", SYMLINK+="vlab/%s{serial}/tty", MODE="0666"

# Start board server - this will only succeed once as it requires both symlinks to be present first
ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{manufacturer}=="Digilent", SUBSYSTEM=="tty", RUN+="/bin/sh -c '/usr/bin/python3 /opt/VLAB/boardconnected.py %s{serial} localhost >> /opt/VLAB/log/attachdetach.log 2>&1'"

# No remove rule is needed, as JTAG will also be removed at the same time
