# Create symlink for VLAB tty, with 0666 permissions
ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SUBSYSTEM=="tty", SYMLINK+="vlab/00000000$env{ID_SERIAL_SHORT}/tty", MODE="0666"

# Start board server - this will only succeed once as it requires both JTAG and tty symlinks to be present first
ACTION=="add", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SUBSYSTEM=="tty", RUN+="/bin/sh -c 'echo /opt/VLAB/boardevent.sh attach 00000000$env{ID_SERIAL_SHORT} | at now'"

# Stop board server when CP210x USB tty device is removed (note ENV rather than ATTR)
ACTION=="remove", ENV{ID_VENDOR_ID}=="10c4", ENV{ID_MODEL_ID}=="ea60", SUBSYSTEM=="tty", RUN+="/bin/sh -c 'echo /opt/VLAB/boardevent.sh detach 00000000$env{ID_SERIAL_SHORT} | at now'"
