services:
  relay:
    build: ./relay
    image: vlab/relay
    ports:
      - "6379:6379"
      - "2222:22"
      - "9001:9001"
    volumes:
      - "./vlab.conf:/vlab/vlab.conf:ro"
      - "./keys:/vlab/keys/:ro"
      - "./keys/ssh_host_rsa_key:/etc/ssh/ssh_host_rsa_key:ro"
      - "./keys/ssh_host_rsa_key.pub:/etc/ssh/ssh_host_rsa_key.pub:ro"
      - "./keys/ssh_host_ed25519_key:/etc/ssh/ssh_host_ed25519_key:ro"
      - "./keys/ssh_host_ed25519_key.pub:/etc/ssh/ssh_host_ed25519_key.pub:ro"
      - "./keys/ssh_host_ecdsa_key:/etc/ssh/ssh_host_ecdsa_key:ro"
      - "./keys/ssh_host_ecdsa_key.pub:/etc/ssh/ssh_host_ecdsa_key.pub:ro"
      - "./log:/vlab/log/:rw"
      - "./weblog.log:/vlab/weblog.log:ro"
    extra_hosts:
      - "pegasus:host-gateway"
    environment:
      - TZ=Europe/London
